/* profile section */
.profile__title {
    color: var(--accent-color-2);
}

.profile__navigation {
    margin-top: 50px;
    color: var(--accent-color-2);
    font-size: var(--h3-size);
    font-weight: 600;
}

.profile__navigation--link {
    margin: 10px 0;
}

/* stats section */
.profile__stats {
    display: flex;
    flex-direction: column;
    gap: 36px;
    color: var(--accent-color-2);
}

.profile__stats--num {
    font-size: var(--h1-size);
    font-weight: 600;
}

.profile__stats--caption {
    font-size: var(--h3-size);
    font-weight: 600;
}

/* link styling */
.profile__navigation--link a {
    box-sizing: content-box;
    color: var(--accent-color-2);
    text-decoration: none;
}

.link__light {
    background-image: linear-gradient(var(--accent-color-2), var(--accent-color-2));
}

/* match profiles */
.match__profile--info {
    display: flex;
    flex-direction: column;
    grid-gap: 30px;
}

.match__social--links {
    margin-right: 20px;
    color: var(--main-color);
    font-weight: var(--medium-weight);
}
