:root {
    --main-color: #6868ac;
    --accent-color-1: #29282d;
    --accent-color-2: #f1ede9;
    --accent-color-3: #615c60;
    --accent-color-4: #d65079;
    --accent-color-5: #e187b8;
    --accent-color-6: #b3906c;

    --body-font: neue-haas-unica, sans-serif;

    --body-normal: 1.1em;
    --body-small: 0.9em;
    --h1-size: 4em;
    --h2-size: 2.2em;
    --h3-size: 1.8em;
    --h4-size: 1.4em;
    --h5-size: 1.2em;

    --heavy-weight: 600;
    --medium-weight: 500;
    --light-weight: 400;

    --half-border: 2px;
    --full-border: 4px;

    --letter-spacing-normal: 0.2px;
    --letter-spacing-small: 0.1px;

    --nav-height: 88px;
}

*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body-font);
    text-decoration: none;
}

body {
    font-size: var(--body-normal);
    background-color: var(--main-color);
    color: var(--accent-color-1);
    overflow: hidden;
}

h1 {
    font-size: var(--h1-size);
    font-weight: var(--heavy-weight);
}

h2 {
    font-size: var(--h2-size);
    font-weight: var(--heavy-weight);
}

h3 {
    font-size: var(--h3-size);
    font-weight: var(--heavy-weight);
}

h4 {
    font-size: var(--h4-size);
    font-weight: var(--heavy-weight);
}

h5 {
    font-size: var(--h5-size);
    font-weight: var(--heavy-weight);
}

button {
    border: 0;
    background-color: transparent;
    text-align: left;
}

.p-1 {
    letter-spacing: var(--letter-spacing-normal);
    font-size: var(--body-normal);
    font-weight: var(--heavy-weight);
}

.p-2 {
    font-size: var(--body-small);
    letter-spacing: var(--letter-spacing-small);
    font-weight: var(--medium-weight);
}

.main-color {
    color: var(--main-color);
}

.accent-color-1 {
    color: var(--accent-color-1);
}

.accent-color-2 {
    color: var(--accent-color-2);
}

.accent-color-3 {
    color: var(--accent-color-3);
}

.accent-color-4 {
    color: var(--accent-color-4);
}

.accent-color-5 {
    color: var(--accent-color-5);
}

.accent-color-6 {
    color: var(--accent-color-6);
}
/* input::placeholder {
    color: transparent;
  } */

.underline-slide {
    text-decoration: none;
    background-image: linear-gradient(var(--main-color), var(--main-color));
    background-size: 0% var(--half-border);
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
}

.underline-slide:focus,
.underline-slide:hover,
.underline-slide:active,
.underline-slide.activated-true,
:checked + .underline-slide {
    background-size: 100% var(--half-border);
}
