

@media only screen and (max-width: 750px) {
   #mobile-overlay{
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top:0px;
    left: 0px;
    padding: 55px;
    z-index: 250;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    color: var(--accent-color-1);
    text-align: center;
   }

   #mobile-overlay h1{
       color: var(--accent-color-2);
   }
}
