h1{
    padding: 0px;
}

.login-form{
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 600px; */
}

.left_col.login, .right_col.login{
    width: fit-content;
    padding: 0px;
    height:100%;
    max-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right_col.login .top_group{
    position: relative;
    top: 15px;
}

.top_group, .bottom_group{
    display: flex;
    flex-direction: column;
    padding: 6px 0px;
}


