#surveys__container {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: max(20px, 3vw);
    row-gap: min(10px, 3vh);
}

.survey-page__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.survey__button--container {
    box-sizing: border-box;
    text-align: center;
}

.survey__button--link {
    height: max(12vh, 90px);
    width: max(12vh, 90px);
    position: relative;
    margin: 0 auto;
    background-color: var(--accent-color-2);
    border: var(--full-border) solid var(--accent-color-3);
    border-radius: 100%;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.survey__button--title {
    color: var(--accent-color-3);
    margin-top: 7px;
    text-transform: capitalize;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}

.survey__button--link:hover {
    /* background-color: var(--main-color); */
    border: var(--full-border) solid var(--main-color);
    cursor: pointer;
}

.survey__button--link:hover ~ h5 {
    color: var(--main-color);
    cursor: pointer;
}

.completed-true > div {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.completed-true:hover > div {
    background-color: var(--accent-color-2);
    border-color: var(--main-color);
    cursor: pointer;
}

.completed-true > h5 {
    color: var(--main-color);
}

.completed-true:hover > h5 {
    cursor: pointer;
}

.survey__navlink {
    position: relative;
}

.survey__delete-resposnes {
    position: absolute;
    z-index: 3;
    right: 2px;
    top: 2px;
    background-color: var(--accent-color-2);
    border-radius: 50%;
    height: 32px;
    width: 32px;
    border: var(--full-border) solid var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s all ease-in-out;
}

.survey__delete-resposnes > span {
    color: var(--main-color);
    font-weight: var(--heavy-weight);
    font-size: var(--h5-size);
    text-align: center;
    transition: 0.2s all ease-in-out;
}

.survey__delete-resposnes:hover,
.survey__delete-resposnes:hover > span {
    color: var(--accent-color-4);
    border-color: var(--accent-color-4);
}

.survey__delete-resposnes:hover ~ .survey__button--container.completed-true > div {
    background-color: var(--accent-color-4);
    border-color: var(--accent-color-4);
}

h5.edit-toggle {
    width: fit-content;
    margin-top: 30px;
    text-align: center;
    color: var(--accent-color-3);
}

h5.edit-toggle.activated-true {
    color: var(--main-color);
}

h5.edit-toggle:hover {
    cursor: pointer;
    color: var(--main-color);
}
