#match__table {
    position: relative;
    width: 100%;
    font-weight: var(--medium-weight);
}

#match__table td a {
    color: var(--accent-color-3);
}

#match__table td a:hover {
    color: var(--main-color);
}

td#match__name {
    width: 50%;
}
